.light-div{
  background: #ffffff;
  padding: 50px;
  background-image: url(../img/start-img4.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
     }

   .light-div-content{
   background: #ffffff;
   padding: 50px;
   margin-top: 30px;
   margin-bottom: 30px;
     }

   .greeting{
     background-color: #000000;
     color: #ffffff;
     text-align: center;
     opacity: 0.7;
     font-size: 1.7rem;
     margin-left: auto;
     margin-right: auto;
     padding: 5px;
     border-bottom: 8px solid #FFD700;
   }
   .service{
     background-color: #ffffff;
     color: #000000;
     text-align: left;
     opacity: 0.9;
     font-size: 1.1rem;
     border-top: 8px solid #FFD700;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15px;
     padding: 5px;
   }
   .infoTitle{
     background-color: #ffffff;
     color: #000000;
     text-align: center;
     opacity: 0.9;
     font-size: 1.1rem;
     border-top: 8px solid #FFD700;
     margin-left: auto;
     margin-right: auto;
   }
   .contentTitle{
     float: left;
    font-size: 1.3rem;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 8px solid #FFD700;
    opacity: 0.6;
    padding: 5px;

   }
   .contentText{
     float: left;
     margin-top: 10px;
     text-align: left;
     margin-top: 30px;
   }
   .ser-right{
     background: #ffffff;
     padding: 50px;
     background-image: url(../img/ser.jpg);
     height: auto;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     color: #ffffff;
     font-size: 1.12rem;
      }
      .serRightTitle{
        float: left;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3rem;
      }
      .underLine{
          border-bottom: 8px solid #FFD700;
      }
      .serRightLi{
        width: auto;
        font-size: 0.8rem;
        margin-top: 20px;
        padding: 5px;
        color: #000000;
        font-weight: bold;
      }
      .serRightLiSpan{
        background-color: #000000;
        color: #ffffff;
        padding: 3px;
        opacity: 0.7;
      }
      .compareTitle{
        float: left;
        width: 30%;
        font-size: 1.3rem;
        margin-left: 20px;
        
      }  
      .compareLi{
        float: left;
        width: 400px;
        font-size: 1.1rem;
        margin-left: 20px;
        padding-top: 10px;
      } 
      .yesNoBig{
        float: left;
        width: 60px;
        height: 60px;
     background: #ffffff;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
    } 
    .yesNoSmall{
      float: left;
      width: 30px;
      height: 30px;
   background: #ffffff;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   margin-right: 5px;
  } 
    .img-adaptive {
      display: block;
      max-width: 100%;
      height: auto;
      }
  .compareTable{
   width: 100%;
  }
  .marginBottom{
  margin-bottom: 30px;
  }
    
